{username} ({user_email}) has invited you ({manager_email}) to manager their account.

Use the link below to enable your access to their account.  

{manage_confirm_link} 

If you do not wish to continue, no further action is required. 
